<html>
    <title>لیست کاربران</title>
    <h1>{{ title }} </h1>
    <ul>
        {% for u in users %}
            {% if u.grade > 0 %}
            <li>
                {{ u.get_name }} {{ u.grade }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if has_error %}
        <p style="color: red">
            {{ field }}: {{ error }}
        </p>
    {% endif %}
    <form action="">
        نام:
        <br>
        {% if field == 'firstname' %}
            <input type="text" name="firstname" value="Mickey" style="border-color:red">
        {% else %}
            <input type="text" name="firstname" value="Mickey" >
        {% endif %}
        
        <br>
        نام خانوادگی:
        <br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="text" name="grade" min=0 max=20 step=0.1>
        <br>
        <input type="submit" value="Add user">
    </form> 
</html>