<html>
    <title>User List</title>
    <h1>{{ title }} </h1>
    <ul>
        {% for u in users %}
            <li>
                {{ u.first_name }} {{ u.last_name }} 
            </li>
            
        {% endfor %}
    </ul>
    {% if has_error %}
        <p style="color: red">
            {{ field }}: {{ error }}
        </p>
    {% endif %}
    <form action="" method="POST">
        First name:
        <br>
     
        <input type="text" name="firstname" value="Mickey" >    
        <br>
        Last name:
        <br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        Username:
        <br>
        <input type="text" name="username" value="Mouse">
        <br>
        <input type="submit" value="Add user">
    </form> 
</html>